.buying-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgba(0, 83, 156, 0.308);
}

.cars-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.cart-container{
    color: white;
    text-align: center;
    background-color: rgba(51, 62, 121, 0.589);
    position: sticky;
    top: 0;
}

.icon{
    padding-left: 5px;
}

.button{
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.ques-ans{
    text-align: center;
    background-color: rgba(81, 94, 105, 0.623);
}


@media only screen and (max-width: 688px){
    .cars-container{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 40px;
        background-color: white;
        gap: 5px;
    }
    .buying-container{
        display: block;
        height: 150px;
        background-color: white;
    }

    .cart-container{
        text-align: center;
    }

    .ques-ans{
        margin-left: 25%;
        width: 60%;
    }
}