.car{
    width: 300px;
    height: 460px;
    border: 1px solid grey;
    border-radius: 8px;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
}
.car img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.info{
    text-align: center;
}

.cart-button{
    background-color: #e1ecf4;
    width: 100%;
    
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-text{
    margin-right: 5px;
}

.cart-button:hover{background-color: #69a7d4ce;}

@media only screen and (max-width: 688px){
    .car{
        width: 280px;
        height: 450px;
        border: 1px solid grey;
        border-radius: 8px;
        position: relative;
        margin-top: 25px;
        margin-left: 10px;
    }

    .car img{
        width: 265px;
        height: 286px;
        border-radius: 8px;
        margin: 7px;
    }
}